<!DOCTYPE html>
<html lang="ru">
<head>
<?foreach($meta as $name => $val):?>
    <meta <?=$name.'="'.$val.'"'?> />
    <?endforeach?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?= $title ?></title>
    <?foreach($css as $file):?>
    <link rel="stylesheet" href="<?=CSS . 'cssreset.css' ?>"/>
    <link rel="stylesheet" href="<?=CSS . $file ?>"/>
    <script type="text/javascript" src="<?=JS . 'jquery-3.2.1.min.js' ?>"></script>
    <?endforeach?>
</head>
