<div class="about-us">

<div class="flex-item1">

	<h1>petmeplease.ru</h1>
	<p class="siteDescr">ресурс для тех, кто хочет найти питомца или подыскать хозяина для животного</p>

		<h2>Как это работает?</h2>

		<ul>
	<li><span>Вы переходите во вкладку «Объявления» в верхнем меню</span></li>
	<li><span>Настраиваете фильтры для выдачи объявлений</span></li>
	<li><span>Просматриваете подходящие объявления, выбираете нужное</span></li>
	<li><span>Пишите сообщение автору заинтересовавшего Вас объявления</span></li>
		</ul>

	<p class="addAd">Или Вы можете самостоятельно</p>
		<input class="give-ad-btn" type="submit" value="ПОДАТЬ ОБЪЯВЛЕНИЕ">
</div>

<div class="flex-item2">
	<img src="<?=IMG . 'about.jpg' ?>" alt="">
</div>

</div>

