<div class="confidentiality">
<h2>Политика конфиденциальности</h2>
	<ul>
	<li><span class="list-name">1. Персональные данные</span> при посещении сайта передаются пользователем добровольно, к ним могут относиться: имя, фамилия, отчество, номера телефонов,  адреса электронной почты,  аккаунты в социальных сетях и др.
	<p>Эти данные собираются в целях оказания услуг, связи с пользователем или иной активности пользователя на сайте. Данные собираются имеющимися на сайте формами для заполнения (например, регистрации, добавления объявлений).</p>
	<p>Также данные могут собираться через технологию cookies (куки) как непосредственно сайтом, так и скриптами сервисов сторонних организаций. Эти данные собираются автоматически, отправку этих данных можно запретить, отключив cookies (куки) в браузере, в котором открывается сайт.</p>
	</li>

	<li><span class="list-name">2. Предоставление данных третьим лицам.</span>
	<p>Мы не раскрываем личную информацию пользователей компаниям, организациям и частным лицам, не связанным с нами. Исключение составляют случаи, перечисленные ниже.</p>
	</li>

	<li><span class="list-name">3. Данные пользователей в общем доступе.</span>
	<p>Персональные данные пользователя могут публиковаться в общем доступе в соответствии с функционалом сайта, например, при размещении объявлений публикуется указанное пользователем имя, контактный телефон, город - такая активность на сайте является добровольной, и пользователь своими действиями дает согласие на такую публикацию.</p>
	</li>

	<li><span class="list-name">4. По требованию закона.</span>
	<p>Информация может быть раскрыта в целях воспрепятствования мошенничеству или иным противоправным действиям; по требованию правоохранительных органов и в иных случаях, предусмотренных действующим законодательством.</p>
	</li>

	<li><span class="list-name">5. Как мы защищаем вашу информацию.</span>
<p>Мы принимаем соответствующие меры безопасности по сбору, хранению и обработке собранных данных для защиты их от несанкционированного доступа, изменения, раскрытия или уничтожения.</p>
	</li>

	<li><span class="list-name">6. Ваше согласие с этими условиями.</span>
	<p>Регистрируясь на сайте, вы выражаете свое согласие с этой политикой конфиденциальности. Если вы не согласны с этой политикой, пожалуйста, не используйте наш сайт. Ваше дальнейшее использование сайта после внесения изменений в настоящую политику будет рассматриваться как согласие с этими изменениями.</p>
</li>
	</ul>
</div>
