<?php

    $db = getConnect();
    $c = mysqli_query($db, "
	SELECT * FROM city
    ");
    $allCities = mysqli_fetch_all($c, MYSQLI_ASSOC);

    $s = mysqli_query($db, "
	SELECT * FROM section
    ");
    $allSections = mysqli_fetch_all($s, MYSQLI_ASSOC);

    $k = mysqli_query($db, "
	SELECT * FROM kind
    ");
    $allKinds = mysqli_fetch_all($k, MYSQLI_ASSOC);

    $db = getConnect();

    $ads = mysqli_query($db, '
        SELECT * FROM ad
        LEFT JOIN city ON city_id = ad_city_id
        WHERE ad_createDate > (NOW() - INTERVAL 7 DAY)
    	LIMIT 4;
    ');

    $ads = mysqli_fetch_all($ads, MYSQLI_ASSOC);

    foreach($ads as $key => $value) {

        $photos = mysqli_query($db, '
            SELECT photo_link
            FROM photo
            WHERE photo_ad_id = "'.$value['ad_id'].'";
        ');

        $photos = mysqli_fetch_all($photos, MYSQLI_ASSOC);
        $ads[$key]['photos'] = $photos;
    }

    if(isset($_GET['city']) && isset($_GET['kind']) && isset($_GET['section'])) {
        $city = (int)$_GET['city'];
        $kind = (int)$_GET['kind'];
        $section = (int)$_GET['section'];

        $relevantAds = mysqli_query($db, '
        SELECT * FROM ad
        LEFT JOIN city on city_id = ad_city_id
        WHERE ad_city_id = "'. $city .'"
        AND ad_animal_kind_id = "'. $kind .'"
        AND ad_section_id = "'. $section .'";
        ');

    $relevantAds = mysqli_fetch_all($relevantAds, MYSQLI_ASSOC);

    foreach($relevantAds as $key => $value) {

        $photos = mysqli_query($db, '
            SELECT photo_link
            FROM photo
            WHERE photo_ad_id = "'.$value['ad_id'].'";
        ');

        $photos = mysqli_fetch_all($photos, MYSQLI_ASSOC);
        $relevantAds[$key]['photos'] = $photos;
    }
    }


?>
<div class="first-block-main">

	<div class="first-block-item1">
		<h1>petmeplease.ru</h1>
		<p>объявления о домашних животных</p>
	</div>

	<div class="first-block-item2">
		<input class="give-ad-btn" type="submit" value="ДАТЬ ОБЪЯВЛЕНИЕ">
	</div>

</div>


	<form class="search-form" action="">
	<div class="search-form-columns">

        <div class="search-form-item">
		<label for="">Выберите свой город</label>
		<select name="city" id="">

		    <?foreach($allCities as $city):?>
		        <option value="<?=$city['city_id']?>">
		            <?=$city['city_name']?>
		        </option>
              <?endforeach?>

		</select>
		</div>

        <div class="search-form-item">
		<label for="">Вид объявления</label>
		<select name="section" id="">
			<?foreach($allSections as $section):?>
		        <option value="<?=$section['section_id']?>">
		            <?=$section['section_name']?>
		        </option>
              <?endforeach?>
		</select>
		</div>


        <div class="search-form-item">
		<label for="">Категория</label>
		<select name="kind" id="">
			<?foreach($allKinds as $kind):?>
		        <option value="<?=$kind['kind_id']?>">
		            <?=$kind['kind_name']?>
		        </option>
              <?endforeach?>
		</select>
		</div>
		</div>

		<input class="search-btn" type="submit" value="ИСКАТЬ">

	</form>


	<div class="animal-categories">
	<div class="category cats">
	<img src="<?=IMG . 'category-cats.png' ?>" alt="">
	<a href="" class="category-btn">Кошки</a>
	</div>

	<div class="category dogs">
	<img src="<?=IMG . 'category-dogs.png' ?>" alt="">
	<a href="?kind_id=2" class="category-btn">Собаки</a></div>

	<div class="category birds">
	<img src="<?=IMG . 'category-birds.png' ?>" alt="">
	<a href="" class="category-btn">Птицы</a></div>

	<div class="category rats">
	<img src="<?=IMG . 'category-rats.png' ?>" alt="">
	<a href="" class="category-btn">Грызуны</a></div>

	<div class="category fishes">
	<img src="<?=IMG . 'category-fishes.png' ?>" alt="">
	<a href="" class="category-btn">Рыбки,<br>рептилии</a>
	</div>

	<div class="category exotic">
	<img src="<?=IMG . 'category-exotic.png' ?>" alt="">
	<a href="" class="category-btn">Экзотические<br>животные</a>
	</div>
	</div>

    <div class="main-content">


<?if(!isset($_GET['city']) && !isset($_GET['kind']) && !isset($_GET['section'])):?>

	<h2>Последние объявления</h2>
	<div class="latest-ads">

	<?foreach($ads as $key => $ad):?>
	<div class="latest-ad">

		<div class="price"><?= (bool)($ad['ad_animal_price']) ? $ad['ad_animal_price'] . ' рублей' : 'Цена не установлена' ?></div>

		<div class="flex-container">
		<div class="latest-ad-img">
		<img src="../<?=isset($ad['photos'][0]['photo_link']) ? $ad['photos'][0]['photo_link'] : 'upload/default.png'?>" alt="">
		</div>

		<div class="flex-item">
		<h3><a href="<?= SUBDOMAIN?>singleAd?ad_id=<?=$ad['ad_id']?>"><?=$ad['ad_title']?></a></h3>
		<span class="ad-date"><?=date('d-m-Y', strtotime($ad['ad_createDate']))?></span>
		<p class="ad-city"><?=$ad['city_name']?></p>
		<p class="ad-text"><?=$ad['ad_text']?></p>
		</div>
	    </div>

    </div>
    <?endforeach?>

<?else:?>
        <?if(count($relevantAds) !== 0):?>
    <h2>Подходящие объявления</h2>
	<div class="latest-ads">
           <?foreach($relevantAds as $key => $ad):?>
    <div class="latest-ad">

		<div class="price"><?= (bool)($ad['ad_animal_price']) ? $ad['ad_animal_price'] . ' рублей' : 'Цена не установлена' ?></div>

		<div class="flex-container">
		<div class="ad-img">
		<img src="../<?=isset($ad['photos'][0]['photo_link']) ? $ad['photos'][0]['photo_link'] : 'upload/default.png'?>" alt="">
		</div>

		<div class="flex-item">
		<h3><a href="<?= SUBDOMAIN?>singleAd?ad_id=<?=$ad['ad_id']?>"><?=$ad['ad_title']?></a></h3>
		<span class="ad-date"><?=date('d-m-Y', strtotime($ad['ad_createDate']))?></span>
		<p class="ad-city"><?=$ad['city_name']?></p>
		<p class="ad-text"><?=$ad['ad_text']?></p>
		</div>
	    </div>

    </div>
           <?endforeach?>
        <?else:?>
    <p>По Вашему запросу объявлений не найдено</p>
    <?endif;?>
<?endif;?>
    </div>
	</div>
