<div class="rules">
	<h2>Правила сайта petmeplease.ru</h2>
	<ul>
	<li>1. <span class="list-name">Пользователь</span>  – физическое, либо юридическое лицо, размещающее объявление на petmeplease.ru.
	</li>

	<li>2. Сервис объявлений petmeplease.ru предоставляет добросовестным пользователям право размещать объявления на сроки, указанные при подаче объявлений.
	</li>

	<li>3. Подавая объявление, пользователь соглашается с правилами и условиями пользования сервисом.
	</li>

	<li>4. <span class="list-name">Не принимаются (удаляются) объявления:</span>
	<ul>
		<li>4.1. Содержащие противозаконное, противоречащее нормам морали, оскорбительное, либо мошенническое текстовое или графическое содержание.</li>
		<li>4.2. Не соответствующие или частично несоответствующие разделу сервиса объявлений.</li>
		<li>4.3. Объявления без детального описания животного.</li>
		<li>4.4. Содержащие более одного пункта предложения животного, либо объявления общего характера (Например: Любые кошки, разные собаки и т.д.). В каждом объявлении допускается публиковать предложение только одного конкретного животного с точной ценой (при необходимости) и детальным описанием. В приложенных фото допускается показывать только одно конкретное животное, описанное в объявлении.</li>
		<li>4.5. Содержащие в тексте объявления (за исключением специальных полей) – телефон, email, интернет-ссылки, либо другие контактные данные.</li>
		<li>4.6. В которых не заполнены, либо неправильно заполнены требуемые поля,, либо содержащие некорректную, ошибочную информацию.</li>
		<li>4.7. С фотографиями или графикой не соответствующими конкретному предложению, содержащемуся в тексте объявлении или содержащие фотографии слишком низкого качества.</li>
		<li>4.8. Каким либо образом нарушающие авторские права.</li>
		<li>4.9. На иных языках чем русский, английский. Так же, содержащие текст на русском языке, набранный транслитом.</li>
	</ul>
	</li>


	<li>5. Запрещена регистрация нескольких аккаунтов одного пользователя.
	</li>

	<li>6.<span class="list-name"> Ответственность и ограничение ответственности:</span>
	<ul>
		<li>6.1 Пользователь несёт полную материальную ответственность за содержание размещенного им объявления, как перед сервисом объявлений, так и перед третьими лицами в случаях нарушения правил сервиса объявлений, законодательства Российской Федерации, авторских и хозяйственных прав, прав на торговые марки и знаки. Так же в случаях создания убытков, беспокойства или неудобств посторонним лицам.</li>
		<li>6.2 Компания, администратор, равно как и владелец сервиса объявлений petmeplease.ru не несут ответственности за содержание объявлений, а так же возможные убытки или неудобства, связанные с работой или недоступностью сервиса объявлений.</li>
	</ul>
	</li>
	</ul>
</div>